body {background: black; 
    color: #fff;
    font-family: sans serif;}

#img-caption {width: 400px;}

#image { max-width: 100%;
      height: auto; 
      margin: auto;
       display: block;}
#main{ padding: 15px;
    margin: 30px 9px;
    border-radius: 5px;
    background: teal;}

#title {text-align: center;}

#img-caption {padding:5px 25px  20px;
           text-align: center; 
           position: relative;
            margin: auto; }

#tribute-info {text-align: center;}

#img-div {padding: 10px;}

a {color: #fff;}

a:hover {color: #000;}



